#navbar .wrapper #logo::before,
#menu li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.15s ease-in-out;
    background-color: white;
}

#navbar .wrapper #logo:hover::before,
#menu li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#home-section::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}