@use "animations";
@use "before";
@use "mixins";

#navbar {
    width: 100%;
    padding: 1.5rem;

    position: fixed;

    z-index: 100;

    transition: 0.3s;
    background-color: transparent;

    &.active {
        padding: 1rem;

        border-bottom: 1px solid #000;
        background-color: #000746;
    }

    .wrapper {
        @include mixins.limitedWidth;
        @include mixins.displayFlex(flex, center, space-between);

        @include mixins.md(1024px) {
            width: 95%;
        }

        @include mixins.md(768px) {
            width: 95%;
        }

        #logo {
            @include mixins.md(425px) {
                font-size: 2.08rem;
            }

            @include mixins.md(375px) {
                font-size: 1.92rem;
            }

            @include mixins.md(320px) {
                font-size: 1.76rem;
            }

            position: relative;
            font-size: 2.4rem;

            font-weight: bold;
            text-decoration: none;
            color: #fff;
            animation: animation-header 2s ease;
        }

        #navbar-list {
            &.active #menu {
                left: 0;
                // visibility: hidden;
            }

            &.active .line:nth-child(1) {
                transform: translateY(9px) rotate(45deg);
            }

            &.active .line:nth-child(2) {
                opacity: 0;
            }

            &.active .line:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg);
            }

            /* Menu hamburger*/
            .hamburger {
                display: none;

                @include mixins.md(768px) {
                    display: flex;
                    flex-direction: column;

                    padding: 0.5rem 0;

                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: transparent;

                    .line {
                        display: block;

                        width: 2.5rem;
                        height: 0.3rem;

                        margin-block: 0.3rem;
                        border-radius: 0.4rem;

                        transition: transform 0.5s, opacity 0.25s;
                        background-color: #fff;
                    }
                }
            }

            /* Menu dektop */
            #menu {
                display: flex;
                gap: 1.6rem;

                list-style: none;

                &.active {
                    top: 56px;
                }

                @include mixins.md(768px) {
                    position: absolute;
                    top: 62px;
                    left: -390px;

                    width: 50%;
                    height: 100vh;

                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    transition: 0.5s;
                    background: linear-gradient(0, #001aff, #000000);
                    z-index: 1000;
                    // overflow-y: hidden;
                    // visibility: hidden;
                }

                @keyframes animation-menu-desktop {
                    from {
                        opacity: 0;
                        transform: translateY(-50px);
                    }

                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

                .animation-um {
                    animation: animation-menu-desktop 2s ease;
                }

                .animation-dois {
                    animation: animation-menu-desktop 1.5s ease;
                }

                .animation-tres {
                    animation: animation-menu-desktop 1s ease;
                }

                .animation-quatro {
                    animation: animation-menu-desktop 0.5s ease;
                }

                li a {
                    position: relative;

                    display: block;

                    padding: 0.5rem 0;
                    font-size: 1.92rem;

                    color: #fff;
                    text-decoration: none;
                    transition: 0.15s ease-in-out;

                    @include mixins.md(768px) {
                        margin-bottom: 2rem;
                        font-size: 2.24rem;
                        padding: 0.5rem 0;
                    }

                    @include mixins.md(425px) {
                        font-size: 1.92rem;
                    }

                    @include mixins.md(375px) {
                        font-size: 1.76rem;
                    }

                    @include mixins.md(320px) {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
