@use "before";
@use "mixins";
@use "animations";

#home-section {
    background: linear-gradient(0, #001aff, #000000);

    .wrapper {
        @include mixins.limitedWidth;
        @include mixins.displayFlex(flex, center, space-between);

        min-height: 100vh;

        @include mixins.md(768px) {
            width: 95%;
        }

        @include mixins.md(425px) {
            flex-direction: column;
            justify-content: center;
        }

        .information {
            @include mixins.md(425px) {
                align-items: center;
            }

            position: relative;

            padding: 2rem;

            header {
                @include mixins.displayFlex(flex, baseline, center);
                flex-direction: column;

                @include mixins.md(425px) {
                    align-items: center;
                }

                .typewriter {
                    h1 {
                        @include mixins.md(768px) {
                            font-size: 3.2rem;
                        }

                        @include mixins.md(425px) {
                            font-size: 2.56rem;
                        }

                        @include mixins.md(375px) {
                            font-size: 2.4rem;
                        }

                        @include mixins.md(320px) {
                            font-size: 1.92rem;
                        }

                        display: inline-block;

                        font-size: 4rem;
                        margin-inline: auto;

                        color: #fff;
                        overflow: hidden;
                        animation: down 3s ease;

                        &::after {
                            content: "";

                            display: inline-block;

                            width: 0.4rem;
                            height: 2.5rem;

                            margin-left: 0.2rem;
                            animation: cursor 0.4s infinite;
                            background-color: #fff;
                        }
                    }
                }

                span {
                    @include mixins.md(768px) {
                        font-size: 1.76rem;
                    }

                    @include mixins.md(425px) {
                        font-size: 1.6rem;
                        text-align: center;
                    }

                    @include mixins.md(320px) {
                        font-size: 1.44rem;
                    }

                    font-size: 1.92rem;

                    color: #fff;
                    animation: down 2s ease;
                }

                .download {
                    @include mixins.md(425px) {
                        padding: 0.7rem;
                        margin-bottom: 4rem;
                    }

                    @include mixins.md(375px) {
                        padding: 0.7rem;
                    }

                    @include mixins.md(320px) {
                        padding: 0.5rem;
                    }

                    @include mixins.displayFlex(flex, center, center);
                    gap: 0.5rem;

                    margin-top: 1rem;
                    border-radius: 0.5rem;
                    padding: 0.8rem;

                    border: 2px solid #fff;
                    -webkit-box-reflect: below 7px
                        linear-gradient(transparent, #0002);

                    color: #fff;
                    text-decoration: none;
                    transition: 0.15s ease;
                    animation: up 2s ease;

                    &:hover {
                        @include mixins.transparentButton;
                    }

                    i {
                        @include mixins.md(425px) {
                            font-size: 1.6rem;
                        }

                        @include mixins.md(320px) {
                            font-size: 1.3rem;
                        }

                        font-size: 1.76rem;
                    }

                    p {
                        @include mixins.md(425px) {
                            font-size: 1.5rem;
                        }

                        @include mixins.md(320px) {
                            font-size: 01.5rem;
                        }

                        font-size: 1.76rem;
                    }
                }
            }
        }

        .social-media {
            @include mixins.md(1024px) {
                @keyframes animation {
                    from {
                        opacity: 0;
                        transform: translateX(-200px);
                    }

                    to {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }

            @include mixins.md(425px) {
                flex-direction: row;
                padding: 0;

                @keyframes animation {
                    from {
                        opacity: 0;
                        transform: translateY(-200px);
                    }

                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }

            position: relative;

            @include mixins.displayFlex(flex, center, center);
            flex-direction: column;

            gap: 0.8rem;
            padding: 2rem;

            .animation-one {
                animation: animation 2s ease;
                opacity: 1;
            }

            .animation-tho {
                animation: animation 2.8s ease;
                opacity: 1;
            }

            .animation-tree {
                animation: animation 3.2s ease;
                opacity: 1;
            }

            a {
                i {
                    @include mixins.md(425px) {
                        font-size: 2.4rem;
                    }

                    @include mixins.md(375px) {
                        font-size: 2.1rem;
                    }

                    @include mixins.md(320px) {
                        font-size: 2rem;
                    }

                    font-size: 2.9rem;
                    padding: 1rem;

                    background: linear-gradient(#000746, #8d8d8d);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.15s ease-in;

                    &:hover {
                        transform: translateX(-10px);

                        @include mixins.md(425px) {
                            transform: translateY(-10px);
                        }
                    }
                }
            }
        }
    }
}
