@mixin limitedWidth {
    width: 100%;
    max-width: 98rem;
    margin-inline: auto;
}

@mixin displayFlex($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin BackgroundImageDesign {
    border-radius: 0.2rem;

    background: linear-gradient(0, #001aff, #000000);
    border: 2px solid #000957;
}

@mixin darkEffect {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.8);
}

@mixin buttonDesign {
    font-size: 1.6rem;
    padding: 0.9rem;
    border-radius: 0.2rem;

    border: 2px solid #000957;

    color: #fff;
    text-decoration: none;
    background: linear-gradient(0, #000746, #000000);
    transition: all 0.15s ease-in;
}

@mixin buttonLine {
    content: "";

    display: block;

    width: 50%;
    height: 0.2rem;

    margin-inline: auto;
    background-color: #000;
}

@mixin transparentButton {
    transform: translateY(-3px);

    background: linear-gradient(#000746, #8d8d8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin flipperSetup {
    position: absolute;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}

@mixin inputDesign {
    width: 90%;

    padding: 0.8rem;

    font-size: 1.44rem;

    margin-bottom: 1rem;
    border-radius: 0.2rem;

    outline: none;
    border: none;
    transition: all 0.15s ease-in-out;
}

@mixin md($widht: 0) {
    @media screen and (max-width: $widht) {
        @content;
    }
}
